.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:260px;
    height:100vh;
    background:linear-gradient(180deg,#1e293b,#0f172a);
    color:white;
    padding:30px 20px;
    box-shadow:5px 0 20px rgba(0,0,0,.15);
}

.logo{
    text-align:center;
    font-size:28px;
    margin-bottom:45px;
    font-weight:bold;
}

nav{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.nav-item{
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:15px 18px;
    border-radius:12px;
    font-size:17px;
    transition:.3s;
}

.nav-item:hover{
    background:#a5c2eb;
    transform:translateX(6px);
}

.nav-item.active{
    background:#2563eb;
}